
/* Set format for header */
:root {
    --navtext-color: rgb(145, 214, 216);
    --text-color: rgb(92, 92, 92);
    
  }
.header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--text-color);
    color: var(--navtext-color);
    height: 35px;

}
.header h1 {
    display: initial;
    font-size: 25 px;
    background-color: rgb(136, 170, 175);
    color:  var(--text-color);
    margin: (0,-2rem);
    position: absolute;
    left: 7px;
    top: 0px;
}
.header h1 span {
    margin-left: 45px;
    margin-right: 5px;
}
/* Set format for header div */
.header nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15 px;
    margin-right: 80px;
}

/* Set format for list in header */
.header nav ul {
    list-style-type: none;
    display: initial;
}

.header nav ul li {
    display: inline-block;
    margin-left: 35px;
}
/* Set format for main body*/

 a {
    color: var(--navtext-color);
    text-decoration: none;
    border-bottom: 2px solid var(--navtext-color);
    padding-bottom: 0.5rem;
}

/* Set format for paragrpah */

p {
    font-size: 24px;
}




.subheader{
    height: 320px;
    background-image: url("../images/subheader.jpg");
}
.subheader h2{
    display: block;
    background-color: rgb(136, 170, 175);
    color: var(--text-color);
    width: fit-content;
    position: relative;
    left: 80%;
    top: 80%;
}
.subheader h2 span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}

.main-section{
    background-color: white;
    color:var(--text-color)
}
.aboutme, .worksection, .contactme, .profile {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-section h2{
    flex: 1;
    text-align: right;
    border-right: solid var(--text-color);
    font-size: 3em;
    padding: 0.5em;
    margin-left: 0.8em;
    display: inline;
}

.profile{
    flex: 4;
   padding: 2em;
}

.profileimg {
    flex: 1;
    width: fit-content;
    display: inline-flex;
    padding: 2em;
    
}

.aboutme p{
    flex: 4;
    display: inline-flex;
    width: 40%;
    padding-top: 1em;
}


#gtimage { 
    width: 100%;
    }
.websiteimageswrapper{
    flex: 4;
    padding: 2em; 

}
.websitegrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-size: 16px;
    align-items: stretch;
    justify-content: center;
   
}
.website1{
  
   grid-column: 1 / span 2;
   grid-row: 1 / span 2;
    border: solid  var(--navtext-color);
    position: relative;
}
    
.website2{
 
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    border: solid   var(--navtext-color);
    position: relative;
    
}
.website3{
 
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    border: solid   var(--navtext-color);
    position: relative;
 
}

.website4{
 
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    border: solid   var(--navtext-color);
    position: relative;
   
}
.website5{
 
    grid-column: 2 / span 1;
    grid-row: 3/ span 1;
    border: solid   var(--navtext-color);
    position: relative;
  
}
.websiteimage{
    /* define the image attributes of website icons*/
    opacity: 0.5;   
    display: inline-block;
    object-fit: cover;
    
}

#website1img {
    width: 180%;
}
#website2img, #website3img, #website4img, #website5img {
    width: 141%;
}


/*
.websiteimage::after {
    content: "";
    opacity: 1;
    transition: all 1s ease-in;
    opacity: 0;
  }
  */

  .websiteimage:hover {
    opacity: 1;
    transition: 1s;
  }
  
  

.description{
    display: block;
    background-color: rgb(136, 170, 175);
    color: var(--text-color);
    width: fit-content;
    position: absolute;
    opacity: 1;
    top: 55%;
    left: 0%;
}
.description h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9px;
    line-height: 0.5em;
    padding: 0px 3px 0px 3px;
}
.description h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 0.5em;
    padding: 0px 3px 0px 3px;
}


body {
    background-color: #d9dcd6;
}
.contactinfo{
    flex: 4;
    padding: 2em;
    display: inline-flex;
}
.contactinfo .tel, .contactinfo .email, .contactinfo .linkedin, .contactinfo .twitter {
    flex: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-flex;
    justify-content: center;
    width: fit-content; 
    align-items: center;
    color: var(--navtext-color);
    text-decoration: none;
    font-size: 16px; 
}
.contactinfo span, .contactinfo a {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--navtext-color);
}